.btn {
  white-space: nowrap;
}

.btn1 {
  border-right: 1px solid black !important;
  border-radius: 0 !important;
}

.parent {
  border-radius: 10px 10px 0 0;
  width: 100%;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

h6 {
  margin: 0 !important;
}

.poll-btn {
  width: 80%;
  margin-top: 20px;
}
